*{
  margin:0;
  padding: 0;
  
}
body{
  background-color: black;
  background-image: url('bodybg.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.all{
  height: 100%;
  width: 100%;
  background-image:transparent;
  border: 3px solid gold;
}
.two{
  background-image: transparent;
  
}
.one{
  width: 100%;
  height: 50%;
  background-color:red;
}
.center{
  padding-left: 60px;

}
.img-one{
  height: 300px;
  width:100%;
  margin-bottom: 10px;
  
}

h1{
  color: red;
  background-color:blue;
  font-size: 70px;
  font-style: bold;
  padding-left: 0px;
  padding-top: 30px;
  position: center;
}

.img-two{
  margin: 50px;
  height: 150px;
  width: 35%;
  position: left;
  
}

.img-tree{
  margin: 50px;
  height: 150px;
  width: 35%;
  position:right;

}
.img-for{
  margin:0px;
  height: 400px;
  width: 100%;
  position: center;
}
.img-five{
  margin:0px;
  height: 300px;
  width: 100%;
  position: center;
}
.center{
  background-image: url('cent.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.sced{
color: red;
  background-color:blue;
  font-size: 60px;
  font-style: bold;
  padding-top: 30px;
  position: center;
}
