*{
  margin:0;
  padding: 0;
  
}
body{
  background-color: black;
  background-image: url('bodybg.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.all{
  height: 100%;
  width: 100%;
  background-image:transparent;
  border: 3px solid gold;
}
.two{
  background-image: transparent;
  
}
.one{
  width: 100%;
  height: 50%;
  background-color:red;
}
.center{
  padding-left: 60px;

}
.img-one{
  height: 150px;
  width:100%;
  margin-bottom: 10px;
  
}

h1{
  color: red;
  background-color:blue;
  font-size: 26px;
  font-family: Sans-Serif,Arial;
  position: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.img-two{
  margin: 0px;
  height: 150px;
  width: 100%;
  
}

.img-tree{
  margin: 0px;
  height: 150px;
  width: 100%;

}
.img-for{
  margin:0px;
  padding-bottom: 20px;
  height: 150px;
  width: 100%;
}
.img-forb{
  margin:0px;
  padding-bottom: 20px;
  height: 150px;
  width: 100%;
  
}
  
.img-five{
  margin:0px;
  height: 100px;
  width: 100%;
  position: center;
}

.amara{
  margin:0px;
  height: 100px;
  width: 100%;
  position: center;
}
.imot{
  margin:0px;
  height: 100px;
  width: 100%;
  position: center;
}
.kulantro{
  margin:0px;
  height: 100px;
  width: 100%;
  position: center;
}
.tagasipat{
  margin:0px;
  height: 100px;
  width: 100%;
  position: center;
}
